name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.26"
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev
      - name: Run start_check.sh
        run: ./start_check.sh
      - name: Run pytest
        run: uv run pytest
        env:
          APP_ENV: test
